@use "./velair-ui-theme.scss" as *;
@use "./vars.scss" as *;
@use "./header.scss" as *;

// Pages
@use "../../pages/cabinet/cabinet.scss" as *;

:root {
  --base-size: 10px;

  --color-primary: #2563eb;
  --color-primary-hover: #2268ff;
}

:root[data-theme="light"] {
  --color-background: #f4f4f5;
  --color-text: #18181b;
}

:root[data-theme="dark"] {
  --color-background: #0f0f10;
  --color-text: #f4f4f5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: var(--base-size);
}

body {
  margin: 0;
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
  font-size: calc(var(--base-size) * 1.4);
  line-height: 1.5;
  color: var(--color-text);
  background: var(--color-background);
}

a {
  color: var(--color-primary);
}

.d-flex {
  display: flex;
}

.d-flex-column {
  flex-direction: column;
}

.gap-16 {
  gap: calc(var(--base-size) * 1.6);
}

.container {
  max-width: 100%;
  width: calc(var(--base-size) * 144);
  margin: 0 auto;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  padding: calc(var(--base-size) * 0.75) calc(var(--base-size) * 1);
  font-size: calc(var(--base-size) * 0.875);
}

.footer p {
  margin: 0;
}

/* pages */
.page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
