.page-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-auth {
  display: flex;
  flex-direction: column;
  width: calc(var(--base-size) * 32);
  max-width: 100%;
}
